<form class="form-horizontal" autocomplete="off" #adminForm="ngForm">
    <abp-modal-header [title]="!data?.id?'Add Account':'Edit Account'" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
        <div class="form-group row">
            <label for="" class="mt-4 mr-3 col-2">Full name:</label>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput name="fullName" type="text" class="form-control" [(ngModel)]="account.fullName"
                    required>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <label for="" class="mt-4 mr-3 col-2">Email :</label>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput name="email" type="email" class="form-control" [(ngModel)]="account.email" required >
            </mat-form-field>
        </div>
        <div class="form-group row">
            <label for="" class="mt-4 mr-3 col-2">Role :</label>
            <mat-radio-group class="mt-4" name="test" aria-label="Select an option" >
                <mat-radio-button *ngFor="let item of roleList;  let i =index" (change)="onSelect($event)" [checked]="i==0" [value]="item.value" class="mr-3" >{{item.name}} </mat-radio-button>
            </mat-radio-group>
        </div>
        
     
    </div>
    <div style="background-color: white;" align="end" class="d-flex justify-content-edn" mat-dialog-actions="">
        <button  class="btn btn-default cancel-banks mr-3" mat-dialog-close>Cancel</button>
        <button  class="btn btn-primary" [disabled]="!adminForm.valid || isLoading || !account?.email?.endsWith('@fpt.edu.vn')"
            (click)="saveAndClose()">Save</button>
    </div>
</form>